.product__count {
  width: 50px;
  padding: 0;
  justify-content: center;
  font-weight: 700;
  text-indent: 44%;
  color: hsl(220, 13%, 13%);
  border: none;
  background-color: hsl(223, 64%, 98%);
}

.product__count:focus {
  background-color: hsl(223, 64%, 98%);
  caret-color: hsl(26, 100%, 55%);
  outline: none
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}