@import url('./__root/page__root.css');
@import url('./__container/page__container.css');

.page {
    font-family: 'Kumbh Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}