.gallery__thumbnail {
  position: relative;
  width: 100%;
  margin-right: 25px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.gallery__thumbnail::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  /*transition: all .2s;*/
}
/*
.gallery__thumbnail:hover::after {
  transform: scale(1);
  background-color: hsla(22, 73%, 97%, 0.452);
  outline: 3px solid hsl(26, 100%, 55%);
  outline-offset: -3px;
  border-radius: 10px;
}*/

/*.gallery__thumbnail:nth-child(2) {
  grid-area: thumb1;
}

.gallery__thumbnail:nth-child(3) {
  grid-area: thumb2;
}

.gallery__thumbnail:nth-child(4) {
  grid-area: thumb3;
}

.gallery__thumbnail:nth-child(5) {
  grid-area: thumb4;
}*/

.gallery__thumbnail:last-child {
  margin-right: 0;
}

.gallery__thumbnail:hover {
  /*transform: rotate3d(0, 1, -1, 4deg);*/
  /*filter: drop-shadow(-2px 4px 6px rgb(68, 29, 3));*/
  filter: drop-shadow(0 4px 8px rgb(68, 29, 3, .5));
}