.header__cart-preview-full {
    display: grid;
    height: fit-content;
    grid-template-areas: "img name del"
                         "img price del";
    padding: 20px 20px 0;
    grid-template-rows: 20px 20px; /*258x46  24*6pda*/  
}