.product__description {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: hsl(210, 8%, 38%);
}

@media screen and (max-width: 1024px) {
  .product__description {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .product__description {
    margin-bottom: 26px;
  }
}