@import url('./__container/gallery__container.css');
@import url('./__main/gallery__main.css');
@import url('./__thumbnail/gallery__thumbnail.css');
@import url('./__img/gallery__img.css');
@import url('./__thumbnail/_active/gallery__thumbnail_active.css');
@import url('./__thumbnail/_hover/gallery__thumbnail_hover.css');
@import url('./__img/_thumbnail/gallery__img_thumbnail.css');
@import url('./__btn/gallery__btn.css');
@import url('./__btn/_next/gallery__btn_next.css');
@import url('./__btn/_prev/gallery__btn_prev.css');
@import url('./__main/_noevent/gallery__main_noevent.css');
@import url('./__close-btn/gallery__close-btn.css');
@import url('./__thumbnail-container/gallery__thumbnail-container.css');
@import url('./__thumbnail-container/_type/gallery__thumbnail-container_type_lightbox.css');
@import url('./__close-btn/_visible/gallery__close-btn_visible.css');
@import url('./__btn/_visible/gallery__btn_visible.css');
@import url('./__container/_type/gallery__container_type_lightbox.css');

.gallery {
  position: relative;
  width: 100%;
}

@media screen  and (max-width: 820px){
  .gallery {
    top: -50px;
    left: 0;
  }
}