.header__cart-preview-checkout {
    width: calc(100% - 40px);
    min-height: 48px;
    margin: 24px auto 20px;
    padding: 0;
    grid-area: checkout;
    background-color: hsl(26, 100%, 55%);
    color: #fff;
    font-size: 13px;
    letter-spacing: .4px;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 12px;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
}

.header__cart-preview-checkout:hover {
    background-color: hsl(26, 100%, 45%);
}

.header__cart-preview-checkout:active {
    background-color: hsl(26, 96%, 41%);
}

