@import url('./__info/footer__info.css');
@import url('./__attribution-link/footer__attribution-link.css');

.footer {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}