.product__label {
  margin: 0;
  text-transform: uppercase;
  color: hsl(26, 81%, 51%);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.25px;
}

@media screen  and (max-width: 820px) {
  .product__label {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .product__label {
    font-size: 12px;
  }
}