.header__cart-preview-popup {
    position: absolute;
    top: 65px;
    right: -40px;
    width: 310px;
    height: 210px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 12px 15px 2px rgba(17, 17, 17, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: visibility .2s ease-in-out, opacity .2s ease-in-out, transform .25s ease-in-out;
}

@media screen and (max-width: 600px) {
    .header__cart-preview-popup {
        min-width: 345px;
        width: calc(100vw - 30px);
        height: 220px;
        top: 75px;
        right: -22px;
    }
}

@media screen and (max-width: 520px) {
    .header__cart-preview-popup {
        top: 52px;
    }
}