.product__cost-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 14px;
}

@media screen and (max-width: 600px) {
  .product__cost-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}