.product__counter-container {
  width: -webkit-fill-available;
  padding: 1px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  border-radius: 12px;
}